<div>
    <h1>Login to Your Account</h1><br>
    <button  (click)="loginG()">Login With Google</button>
    <br>
    <button (click)="logout()">Logout</button>
   <!--  <form (ngSubmit)="loginR()">
    <label for="userEmail">Email</label><br/>
    <input type="email" required
      [(ngModel)]="userEmail" >
    <br/>
    <label for="userPassword">Password</label><br/>
    <input type="password" required
      [(ngModel)]="userPassword" >
    <hr/>
    <button type="submit">Login!</button>
  </form> -->
</div>
