<!--navigation bar -->

<!--left pane -->

<!--righ pane

<div class="panel col s3">
  <div class="collection">
    <a [routerLink]="['/main/dashboard']" routerLinkActive="active" (click)="layout.close()" class="collection-item">Dashboard</a>
    <a [routerLink]="['/main/menu']" routerLinkActive="active" (click)="layout.close()" class="collection-item">Menu Management</a>

    <a [routerLink]="['/restaurant']" routerLinkActive="active" class="collection-item">Restaurant Profile Management</a>

</div>
</div>-->
<div class="container col s9">
<router-outlet></router-outlet>
</div>
